$color1 : #fff; // white
$color2 : #f8f9f7;// lightest grey;
$color3 : #e9e9e8; // lightGrey (html background)
$color4 : #a7a5a5; // medium grey (text)
$color5 : #656665;
$accentColor : #ff541e;
$accentColor2 : #bc3d14; // Accent color
$accentColorFilter : rgba(255, 83, 31, 0.8);
$color6 : #333; // darkest color


.accentColorText {
  color: $accentColor;
}

.accentColor2Text {
  color: $accentColor2;
}


html{
  background-color: $color1;
}

html, body {
  height: 100%;
}

html * {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-shadow: none;
}

.columns {
  // border: 1px solid red;
}

h1 {
  color: $color5;
}



// header {
//   box-sizing: border-box;
//   height: 100px;
//   background-color: $color1;
//   border-bottom: 2px solid $color4;
//   padding: 0;
//
// }

.headerPlaceholder {
  height: 100px;
  width: 100%;
  display: none;
}

// ----------------------------------------------------------------------------
// HEADER TOP
// ----------------------------------------------------------------------------
.headerTop {
  position: relative;
  height: 45px;
  background-color: $color6;
  color: $color4;
  width: 100%;
  // padding: 20px;

  p {
    padding: 10px 0 0 30px;
  }

  .socialIcons {
    text-align: right;
    font-size: 30px;
    padding: 2.5px;
    padding-right: 40px;
    height: 100%;

    a {
      color: $color4;
      margin: 5px;
    }

    a:hover {
      color: $accentColor;
    }

  }

}

// ----------------------------------------------------------------------------
// HEADER BOTTOM
// ----------------------------------------------------------------------------
header {
  border-bottom: 2px solid $color4;
}
nav.desktop-slackie {
    margin: 0;
    padding: 0;
    background: #FFF;
    top: 0;
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
    letter-spacing: 0.5px;
}

nav.desktop-slackie a:hover {
    text-decoration: none !important;
}

nav.mobile-slackie ul li:hover {
  background-color: rgba(255,255,255,.1);

}

nav.mobile-slackie ul li:hover > a{
  color: $accentColor;
}

nav.desktop-slackie a:focus {
    text-decoration: none;
    outline: none;
}

nav.desktop-slackie .logo img{
    float: left;
    margin: 0;
    height: 100px;
}

nav.desktop-slackie ul {
    list-style-type: none;
    box-sizing: border-box;
    float: right;
    line-height: 32px;
    margin: 5px 30px 20px 0;
    display: none;
    padding: 1px;
}

@media (min-width: 992px) {
    nav.desktop-slackie ul {
        display: inline;
        padding-right: 40px;
        padding-top: 40px;
    }
}

nav.desktop-slackie ul li {
    display: inline-block;
    height: auto;
    height: 100%;
}

nav.desktop-slackie ul li a {
    height: 100%;
    position: relative;
    font-weight: 300;
    color: #333;
    border-bottom: 2px solid transparent;
    padding: 12px 20px;
    font-size: 17px !important;
    margin-left: 9px;
    /*opacity: .8;*/
    transition: color .2s, border-bottom .2s;
}

nav.desktop-slackie ul li a:hover {
    /*box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05);*/
    /*background: rgba(0, 0, 0, 0.1);*/
    border-bottom: 2px solid $accentColor;
    color: $accentColor;
    opacity: 1;
}

// nav.desktop-slackie .slackie-action-btn {
//     float: right;
//     box-sizing: content-box;
//     margin: 0;
//     display: inline-block;
//     cursor: pointer;
//     text-decoration: none;
//     color: #fafafa;
//     -webkit-font-smoothing: antialiased;
//     padding: 10px 14px 9px;
//     vertical-align: bottom;
//     border-radius: 4px;
//     background: #3369E8;
//     white-space: nowrap;
//     position: relative;
//     line-height: 1 !important;
//     text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
//     text-align: center;
//     width: 100%;
//     font-size: 18px;
//     max-width: 130px;
//     margin-left: 1px;
//     box-shadow: 0px 2px 0px #3369E8;
//     display: none;
//     font-weight: 900;
//     margin: 17px 5px 20px 0;
//     margin-left: 9px;
//     font-size: 12pt !important;
//     letter-spacing: 0;
// }

// nav.desktop-slackie .slackie-action-btn:hover {
//     text-decoration: none;
//     box-shadow: 0px 2px 0px #123da3;
// }

// nav.desktop-slackie .slackie-action-btn i {
//     vertical-align: baseline;
//     font-size: 40px;
// }

// @media (min-width: 992px) {
//     nav.desktop-slackie .slackie-action-btn {
//         display: inline-block;
//     }
// }

nav.desktop-slackie .mobile-nav-trigger.icon {
    float: right;
    box-sizing: content-box;
    /*margin: 0 40px;*/
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: #333;
    -webkit-font-smoothing: antialiased;
    padding: 10px 14px 9px;
    vertical-align: bottom;
    border-radius: 4px;
    /*background: #3369E8;*/
    white-space: nowrap;
    position: relative;
    line-height: 1 !important;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    /*font-size: 5px;*/
    max-width: 30px;
    margin-left: 1px;
    /*box-shadow: 0px 2px 0px #3369E8;*/
    margin: 30px 30px 20px 0;
    margin-left: 9px;
    font-size: 22px;
    padding: 9px;
}

nav.desktop-slackie .mobile-nav-trigger.icon:hover {
    text-decoration: none;
    /*box-shadow: 0px 2px 0px #123da3;*/
}

@media (min-width: 992px) {
    nav.desktop-slackie .mobile-nav-trigger.icon {
        display: none;
        margin-right: 40px;
    }
}

nav.desktop-slackie .mobile-nav-trigger.icon i {
    vertical-align: middle;
}

nav.desktop-slackie .mobile-nav-trigger.text {
    float: right;
    box-sizing: content-box;
    margin: 0;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: #fafafa;
    -webkit-font-smoothing: antialiased;
    padding: 10px 14px 9px;
    vertical-align: bottom;
    border-radius: 4px;
    background: #3369E8;
    white-space: nowrap;
    position: relative;
    line-height: 1 !important;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    font-size: 18px;
    max-width: 50px;
    margin-left: 1px;
    box-shadow: 0px 2px 0px #3369E8;
    font-weight: 900;
    margin: 17px 5px 20px 0;
    margin-left: 9px;
    font-size: 12pt;
}

nav.desktop-slackie .mobile-nav-trigger.text:hover {
    text-decoration: none;
    box-shadow: 0px 2px 0px #123da3;
}

nav.desktop-slackie .mobile-nav-trigger.text:before {
    content: 'Menu';
}

@media (min-width: 992px) {
    nav.desktop-slackie .mobile-nav-trigger.text {
        display: none;
    }
}

nav.mobile-slackie {
    display: none;
    background: #333;
    position: fixed;
    opacity: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    -webkit-animation: mobile;
    animation: mobile;
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
    font-family: "Lato", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

nav.mobile-slackie a {
    text-decoration: none;
    color: #333;
}

nav.mobile-slackie .logo {
    margin: 20px 0px 20px 10px;
    float: left;
    color: #fafafa;
    font-size: 28px;
    font-weight: 700;
    opacity: .25;
    line-height: 1 !important;
    letter-spacing: 0;
}

nav.mobile-slackie .close-slackie-mobile {
    margin: 20px 40px 0 0;
    color: #fafafa;
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
    -webkit-transition: -webkit-transform .2s ease-out;
    transition: transform .2s ease-out;
    float: right;
    font-size: 40px;
    font-weight: 700;
    -webkit-animation: close;
    animation: close;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

nav.mobile-slackie ul {
    list-style-type: none;
    margin: 0;
    margin-top: 90px;
    padding: 0px;
    letter-spacing: 0.5px;
    text-align: center;
}

nav.mobile-slackie ul li:nth-of-type(2) a {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

nav.mobile-slackie ul li:nth-of-type(3) a {
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s;
}

nav.mobile-slackie ul li:nth-of-type(4) a {
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s;
}

nav.mobile-slackie ul li:nth-of-type(5) a {
    -webkit-animation-delay: -0.2s;
    animation-delay: -0.2s;
}

nav.mobile-slackie ul li a {
    text-align: center;
    font-size: 25px !important;
    line-height: 70px;
    color: #fff;
    -webkit-animation: mobilein;
    animation: mobilein;
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
    -webkit-animation-duration: 1.6s;
    animation-duration: 1.6s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
}

@media (max-height: 480px) {
    nav.mobile-slackie ul li a {
        font-size: 28px;
        line-height: 60px;
        color: #fff;
    }
}

@media (max-height: 320px) {
    nav.mobile-slackie ul li a {
        font-size: 24px;
        line-height: 45px;
        color: #fff;
    }
}

nav.mobile-slackie .slackie-action-btn {
    display: block;
    position: absolute;
    width: 100%;
    height: 70px;
    bottom: 0;
    left: 0;
    text-align: center;
    background: #e45c00;
    color: #fafafa;
    font-weight: 900;
    font-size: 22px;
    line-height: 75px;
    letter-spacing: 0;
}

nav.mobile-slackie .slackie-action-btn i {
    vertical-align: baseline;
    font-size: 30px;
}



@media (max-height: 380px) {
    nav.mobile-slackie .slackie-action-btn {
        display: none;
    }
}

@media (max-width: 500px) {
  div.headerTop {
    height: auto;
    text-align: center;

    .socialIcons {
      padding: 0;
      text-align: center;
    }

    p{
      padding: 0;
      text-align: center;
    }
  }
}

.mobile-slackie:target {
    display: block;
}

@-webkit-keyframes mobile {
    from {
        opacity: 0;
    }
}

@keyframes mobile {
    from {
        opacity: 0;
    }
}

@-webkit-keyframes close {
    from {
        -webkit-transform: rotate(-120deg);
        transform: rotate(-120deg);
    }
}

@keyframes close {
    from {
        -webkit-transform: rotate(-120deg);
        transform: rotate(-120deg);
    }
}

@-webkit-keyframes mobilein {
    from {
        margin-left: -300px;
    }
    to {
        margin-left: 0;
    }
}

@keyframes mobilein {
    from {
        margin-left: -300px;
    }
    to {
        margin-left: 0;
    }
}

.fa.fa-plus {
  font-size: 40px;
}

.largeBody {
  width: 100%;
  height: 1000px;
}



// ----------------------------------------------------------------------------
// HEAD BANNER CAROUSEL
// ----------------------------------------------------------------------------
#headBanner {
  height: 500px;
  padding: 0;

  .carousel-indicators li {
    border: 1px solid $accentColor;

  }

  .carousel-indicators .active {
    background-color: $accentColor;
  }

  #carousel-example-generic {
    height: 500px;
    width: 100%;
    overflow: hidden;


    .carousel-inner {
      position: relative;

      .item {
        height: 500px;


        img {
          width: 100%;
          position: absolute;
          bottom: 0;
        }

        .carousel-caption {
          position: relative;
          height: 100%;
          width: 100%;
          top: 0;
          left: 0;
          // left: 40px;
          // padding: 20px;
          // padding-left: 40px;

          .captionBox {

            h1 {
              padding: 20px;
              font-weight: 400;
              color: $accentColor;
            }

            p {
              font-weight: 300;
              font-size: 19px;
              line-height: 1.5;
              color: $color2;
              letter-spacing: .75px;
            }

            .buttonDiv {
              a.accentButton {
                border: 2px solid $accentColor;
                text-decoration: none;
                border-radius: 2px;
              }
              a.accentButton:hover {
                border: 2px solid $color2;
                // background-color: $accentColor2;
                padding: 10px;
                text-decoration: none;
                font-weight: 300;
                color: $color2;

              }
            }
          }

          .left {
            position: absolute;
            top: 40%;
            left: 30%;
            // height: 50%;
            width: 60%;
            transform: translate(-50%, -50%);
            padding: 20px;

          }

          .right {
            padding: 20px;
            position: absolute;
            top: 40%;
            left: 70%;
            // height: 50%;
            width: 60%;
            transform: translate(-50%, -50%);
          }

          .middle {
            padding: 0;
            position: absolute;
            top: 40%;
            left: 50%;
            // height: 50%;
            width: 60%;
            transform: translate(-50%, -50%);
          }
        }
      }

    }

  }

}

.quietHeadline {
  color: $color4;
}

.loudHeadline {
  color: $color5;
}

// ----------------------------------------------------------------------------
// SECTION 2
// ----------------------------------------------------------------------------
.sectionFullHeader {
  height: 650px;
  padding: 30px;

}

.one {
  background-color: $color3;

  .quietHeadline {
    color: $color4;
  }

  .loudHeadline {
    color: $color5;
  }

}

.row {
  // border: 1px solid black;
}

.cardRow {
  margin-top: 10px;
  height: 300px;


  .cardOuter {
    padding: 30px;

    .cardContents {
      position: relative;
      overflow: hidden;
      height: 300px;
      width: 100%;


      .cardFront, .cardBack {
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        transition: transform 0.5s;
        -webkit-transition: -webkit-transform 0.5s;
        -moz-transition: -moz-transform .3s;

        .inner {
          position: absolute;
          top: 0;
          right: 0;
          height: 100%;
          width: 100%;
          padding: 5px;
          text-align: center;
            color: $color5;
          line-height: 2;

          h2 {
            margin-top: 15px;
          }

          h2 i {
            font-size: 200%;
            color: $accentColor;
          }

          p {
            margin-top: 15px;

          }

        }
      }

      .cardFront {
        background-color: $color1;
      }

      .cardBack {
        background-color: $accentColor;
        border: 5px solid $accentColor2;
        -webkit-transform: rotateY(-180deg);
        transform: rotateY(-180deg);
        * {
          color: $color1;
        }
        .inner {
            padding-top: 5px;

            h2 {
              margin-top: 20px;
            }
        }


          a {
            margin-top: 20px;
            width: 50%;
            margin-left: 25%;
            height: auto;
            background-color: transparent;
            border: 2px solid $color1;
            padding: 0;
            display: block;
          }
      }

    }
  }
}

div.card.effectHover {
  padding: 5px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card.effectHover:hover .cardFront {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card.effectHover:hover .cardBack {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

.buttonDiv {
  margin-top: 35px;

    a.accentButton {
      width: 100%;
      border: 2px solid $color5;
      background-color: $accentColor;
      color: $color1;
      font-size: 20px;
      outline: none;
      padding: 10px;
      display: block;
      text-align: center;
      -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
      -moz-box-sizing: border-box;    /* Firefox, other Gecko */
      box-sizing: border-box;
    }

    a.accentButton:hover,
    a.accentButton:active {
      -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
      -moz-box-sizing: border-box;    /* Firefox, other Gecko */
      box-sizing: border-box;
      // background-color: $accentColor2;
      color: $color1;
      outline: none;
      text-decoration: underline;
      border: 4px solid $accentColor2;
      padding: 8px;
    }
}



// -----------------------------------------------------------------------------
// SECTION 3
.two {
  height: 500px;
  padding: 0;

  .left40 {
    height: 100%;
    background-image: url("https://images.unsplash.com/photo-1507034589631-9433cc6bc453?auto=format&fit=crop&w=631&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D");
    background-size:cover;
    background-position: center;
  }

  .right60 {
    position: relative;
    height: 100%;
    background-color: $color2;

    .jumboHeader {
      height: 25%;
      width: 100%;
      padding: 10px;

      h3 {
        margin-top: 20px;
        text-align: center;
      }

      h1 {
        margin-top: 20px;
        text-align: center;
        color: $color5;
      }
    }
    .jumboBox {
      height: 75%;
      width: 100%;
      padding: 20px;
      box-sizing: border-box;

      #first {
        border-right: 2px solid $accentColor;
      }

      .posterParent {
        height: 100%;

        .poster {
          height: 100%;
          padding: 10px;
          text-align: center;
          color: $color5;

        }
      }


    }




  }

}

#first {
  border-right: 2px solid $accentColor;
}

.three {
  padding: 0;
  height: 600px;


  .left60 {
    padding-top: 30px;
    position: relative;
    text-align: center;
    height: 100%;
    background-color: $color3;

    .headline {
      width: 100%;
      height: 20%;
      h3 {
        margin-top: 10px;
      }
    }

    .accordion {
      overflow-y: auto;
      width: 100%;
      padding-top: 20px;

      .panel {
        background-color: transparent;
        border: none;
        box-shadow: none;
        .panel-heading {
              background-color: $color1;
              color: $color5;
              padding: 0;
          .panel-title {
            a {
              font-size: 18px;
              display: block;
              padding: 15px;
              width: 100%;
              text-decoration: none;
            }
          }
        }

        div.panel-body {
          background: transparent;
        }

      }
    }

    a:hover {
        // color: $accentColor;
    }

    .tightTop {
      margin-top: 5px;
    }
  }


  .right40 {
    height: 100%;
    background-image: url("https://images.unsplash.com/photo-1436076863939-06870fe779c2?auto=format&fit=crop&w=1050&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

  }
}


// -----------------------------------------------------------------------------
// BANNER BREAK

#textBanner {
    // opacity: .3;
    background-color: $color6;
    // color: transparent;
}

.bannerContainer {
    opacity: 0;
    padding: 100px;
    position: relative;
    height: 400px;
    background-color : transparent;
    // background-repeat: no-repeat;
    // background-position: center;
    // background-size: cover;
}

.banHead1 h1{
  margin: 0;
  text-align: left;
  height: 125px;
  color: $color4;

}


.banHead2 h1 {
  margin: 0;
  text-align: right;
  height: 125px;
  padding: 30px;
  color: $color4;
}



.four {
  padding: 50px;
  height: auto;
  background-color: $color2;

  .headRow {
    // padding-top: 20px;
    padding: 20px;
    padding-top: 0;
    width: 100%;
    // max-height: 100px;
    text-align: center;

    h3 {
      margin-top: 0;
    }

    // h1 {
    //   color: $color5;
    // }
  }

  .fourBody {
    // padding: 20px;
    height: 600px;

    .third {
      height: 500px;
      padding: 15px;
      color: $color5;
      background-color: transparent;

      // transition: background-color .2s;

      #thirdInner {
        height: 100%;
        background-color: $color1;
        border: 1px solid $color3;
        overflow: hidden;
        text-align: center;
        position: inline-block;
        transition: box-shadow .3s;
        -webkit-transition: -webkit-box-shadow .3s;
        -moz-transition: -moz-box-shadow .3s;

        div.imgLeft {
          height: 45%;
          min-width: 100%;
          position: relative;
          // display: inline-block;
          overflow: hidden;

          img {
            min-height: 100%;
            max-width: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            // z-index: 0;
          }
        }

        .snipContent {

          height: 55%;
          padding: 10px;

          p.quiet {
            color: $color4;
          }

          .date {
            margin-left: 20px;
          }

          h3 {
            color: $color5;
            margin-top: 10px;
            margin-bottom: 20px;
          }

          p.reg {
            padding-bottom: 20px;
          }

          .lightLine {
            height: 0;
            width: 90%;
            margin-left: 5%;
            margin-right: 5%;
            border: 1px solid $color3;
          }

          .blogButton {
            display: block;
            padding: 10px;
            border: 1px solid $accentColor;
            width: 60%;
            position: absolute;
            bottom: 20px;
            left: 50%;
            transform: translatex(-50%);
            color: $accentColor2;
            font-size: 125%;
            box-sizing: border-box;
          }

          .blogButton:hover {
            background-color: $accentColor;
            border: 3px solid $accentColor2;
            color: $color1;
          }

        }
      }
      #thirdInner:hover {
        box-shadow: 0 20px 72px -10px rgba(0, 0, 0, 0.25);

      }
    }

    .third:hover {
      cursor:  pointer;
      // padding: 5px;
      // background-color: $accentColorFilter;
      // box-shadow: 0 20px 72px -10px rgba(0, 0, 0, 0.5);
      border-radius: 2px;
    }
  }
}


.blogSnipTitle{
  color: $color5;
  width: 100%;
  display:block;
  padding: 0;
  transition: color .2s;
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
}
.blogSnipTitle:hover {
  text-decoration: none;
  color: $accentColor;
}


.bannerBox {
    height: 420px;
    text-align: center;
    padding: 50px;

    h1 {
      color: $color5;
    }
}


#testimonialSlideShow {

  margin-top: 50px;

  p {
    font-size: 15px;
    color: $color5;
  }

  i {
    font-size: 18px;
    color: $color5;
  }

  i.fa-quote-left {
    margin-right: 20px;
  }
  i.fa-quote-right {
    margin-left: 20px;
  }
}

#testimonialSlideShow > div {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  width: 100%;
}


// -----------------------------------------------------------------------------

.five {
  padding: 0;
  height: 650px;

  .left50 {
    height: 100%;
    background-image: url("https://images.unsplash.com/photo-1494783367193-149034c05e8f?auto=format&fit=crop&w=1050&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .right50 {
    padding: 30px;
    h3,
    h1 {
      text-align: center;
    }

    form {
      padding: 30px;

      textarea {
        resize: none;
      }

      // button {
      //   margin-top: 30px;
      //   width: 30%;
      //   color: $color6;
      //   border: 2px solid $accentColor;
      //   border-radius: none;
      // }
      //
      // button:hover {
      //   background-color: $accentColor;
      //   border: 2px solid $accentColor2;
      //   color: $color1;
      //   text-decoration: underline;
      // }

      button.accentButton {
        width: 40%;
        margin-left: 60%;
        border: 2px solid $color5;
        background-color: $accentColor;
        color: $color1;
        font-size: 20px;
        outline: none;
        margin-top: 30px;
        padding: 5px;
        display: block;
        text-align: center;
        -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
        -moz-box-sizing: border-box;    /* Firefox, other Gecko */
        box-sizing: border-box;
        border-radius: 0;
      }

      button.accentButton:hover,
      button.accentButton:active {
        -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
        -moz-box-sizing: border-box;    /* Firefox, other Gecko */
        box-sizing: border-box;
        // background-color: $accentColor2;
        color: $color1;
        outline: none;
        text-decoration: underline;
        border: 4px solid $accentColor2;
        padding: 3px;
        border-radius: 0;
      }
    }
  }
}




footer {
  position: relative;
  // bottom: 0;
  padding-top: 15px;
  height: 400px;
  background-color: $color6;


  .footerTop {
    // border: 1px solid $accentColor;
    width: 100%;
    height: 70px;
    // padding: 10px;
    color: $color3;
    background-color: rgba(255, 255, 255, .06);

    .info {
      padding: 10px 5px 5px 30px;
      height: 100%;

      p {
        color: $color4;
      }
    }

    .footerSocial {
      text-align: right;
      height: 100%;
      padding: 15px;
      background-color: transparent;
      // margin-right: 30px;
      a {
        height: 100%;
        display: inline-block;
        margin-right: 10px;
        margin-left: 10px;
        font-size: 30px;
        color: $color4;
      }
      a:hover {
        color: $accentColor;
      }
    }
  }

  .footerContact {
    height: 315px;
    text-align: left;
    padding: 20px;
    background-color: transparent;

    form {
      display: inline;
    }
    .tight {
      margin-top: 10px;
      width: 100%;
      padding: 0;

      label {
        color: $color3;
        letter-spacing: 1px;
        font-size: 85%;
      }
    }

    h4 {
      color: $accentColor2;
      margin-bottom : 0;
    }

    button {
      padding: 5px 10px 5px 10px;
    }
  }

  #newsletter {
    width: 70%;
  }

  .footerNav{
    height: 315px;
    padding-top: 20px;


    // padding: 10px;

    nav {
      h4 {
        padding: 0 0 5px 20px;
        color: $color3;
      }
      // padding: 20px 10px 20px 10px;
      // height: 100%;
      // height: 100%;

      ul {
        padding: 20px;
        padding-top: 0;
        // height: 315px;
        li {
          text-align: left;
          line-height: 1.8;
          color: $color4;
          list-style-type: none;
        }

        li:hover {
          color: $accentColor2;
          cursor: pointer;
        }
      }
    }
  }

  .footerMission {
    height: 315px;
    width: 100%;
    padding: 10px;

    h3 {
      text-align: left;
      color: $accentColor2;
    }

    p {
      color: $color4;
    }
  }

  .legal {
    color: $color4;
    position: absolute;
    bottom: 10px;
    right: 30px;
  }

}




//*****************************************************************************
//*****************************************************************************
// ABOUT US
//*****************************************************************************
//*****************************************************************************

.funPhotoBanner {
  width: 100%;
  height: 300px;
  position: relative;
  overflow: hidden;

  img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  h1 {
    font-size: 60px;
    color: $color3;
    margin-top: 50px;
    text-align: center;
    // position: absolute;
    // top: 30%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    // z-index: 1;
    // letter-spacing: 2px;
    font-weight: 300;
  }

  .titleBtn {
    text-align: center;
    padding: 5px;

    a {
      padding: 3px;
      width: 80%;
      margin-left: 10%;
      border: 4px solid $accentColor;
    }
    a:hover {
      padding: 3px;
      border: 4px solid $accentColor2;
      text-decoration: none;
      font-weight: 300;
    }
    // width: 100px;
    // z-index:
  }
}

.mission {
  min-height: 350px;
  width: 100%;
  padding: 30px;
  background-color: $color1;
  text-align: center;

  h1 {
      color: $color5;
  }

  .missionStatement {
    padding: 30px;
  }
}

.team {
  min-height: 500px;
  width: 100%;
  padding: 30px 0 30px 0;
  text-align: center;
  background-color: $color2;

  .headline {
    padding-bottom: 30px;
  }



  .teamHeader {
    // background-color: $color1;
    width: 100%;

  }


  .teamContainerLeft,
  .teamContainerRight {
    // background-color: $color1;
    position: relative;
    border-top: 1px solid $color3;
    padding: 20px 50px 20px 50px;
    height: 400px;
    min-height: 350px;
    width: 100%;

    .imgBox {
      padding: 20px;
      // border: 1px solid red;
      // min-height: 300px;
      height: 100%;
      overflow: hidden;
      position: relative;


      img {
        height: auto;
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .content {
      height: 100%;
      padding: 60px 40px 20px 40px;
      color: $color5;
      position:relative;
      // display: table;

      h3 {
        color: $color5;
        margin-top: 0
      }
      h4 {
        color: $accentColor;
      }
    }
  }
}


//*****************************************************************************
//*****************************************************************************
// GALLERY
//*****************************************************************************
//*****************************************************************************


.gallery {
    // height: auto;
    width: 100%;
    padding: 20px;
    padding-bottom: 0px;
    background-color: $color1;
    text-align: center;

    h1 {
        color: $color5;
    }
}

#galleryWall {

    padding: 5%;
    padding-top: 0;
    margin-bottom: 50px;
    text-align: center;
    overflow: hidden;

    .brick {
      margin-top: 5px;
      height: 250px;
      overflow: hidden;
      position: relative;
      padding: 15px;
      display: block;
      -webkit-transition: padding .5s;
      -moz-transition: padding .5s;
      transition: padding .5s;

        .brickBox {
            width: 100%;
            height: 250px;
            overflow: hidden;
            position: relative;
            img {
              width: 110%;
              max-width: 400px;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
            }

        }
    }

    .brick:hover {
      padding: 2.5px;
      cursor: pointer;
      // height: 260px;
    }
}

//*****************************************************************************
//*****************************************************************************
// CONTACT
//*****************************************************************************
//*****************************************************************************

#contactText {
  color: $color2;
  margin-top: 75px;
  font-weight: 300;
}
.contactRow {
  .contactForm {
    // border: 1px solid black;
    // width: 100%;
    min-height: 400px;
    padding: 20px 40px;

    h1 {
      width: 100%;
      text-align: center;
    }
    form {
      button.accentButton {
        width: 40%;
        margin-left: 60%;
        border: 2px solid $color5;
        background-color: $accentColor;
        color: $color1;
        font-size: 20px;
        outline: none;
        margin-top: 30px;
        margin-bottom: 20px;
        padding: 5px;
        display: block;
        text-align: center;
        -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
        -moz-box-sizing: border-box;    /* Firefox, other Gecko */
        box-sizing: border-box;
        border-radius: 0;
      }
    }
  }

  .contactInfo {
    padding: 40px;
    // width: 100%;
    height: auto;
    // background-color: green;
    position: relative;

      p {
        text-align: left;
        line-height: .75;
        margin-bottom: 10px;
      }

      .map {
        height: auto;
        width: 100%;
        // background-color: yellow;

        a img {
          height: auto;
          width: 100%;
          padding: 10px;
        }
        a img:hover {
          padding: 5px;
        }
      }
  }
}

//*****************************************************************************
//*****************************************************************************
// BLOG
//*****************************************************************************
//*****************************************************************************
.recentPosts {
  padding: 20px;
  .third {
    height: 500px;
    padding: 15px;
    color: $color5;
    background-color: transparent;
    box-shadow: 0 20px 72px -20px rgba(0, 0, 0, 0);
    transition: padding .3s, box-shadow .2s;
    -webkit-transition: padding .3s, box-shadow .2s;
    -moz-transition: padding .3s, box-shadow .2s;

    // transition: background-color .2s;

    #thirdInner {
      height: 100%;
      background-color: $color1;
      overflow: hidden;
      text-align: center;
      position: inline-block;

      div.imgLeft {
        height: 45%;
        min-width: 100%;
        position: relative;
        // display: inline-block;
        overflow: hidden;

        img {
          min-height: 100%;
          max-width: 100%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          // z-index: 0;
        }
      }

      .snipContent {

        height: 55%;
        padding: 10px;

        p.quiet {
          color: $color4;
        }

        .date {
          margin-left: 20px;
        }

        h3 {
          color: $color5;
          margin-top: 10px;
          margin-bottom: 20px;
        }

        p.reg {
          padding-bottom: 20px;
        }

        .lightLine {
          height: 0;
          width: 90%;
          margin-left: 5%;
          margin-right: 5%;
          border: 1px solid $color3;
        }

        .blogButton {
          display: block;
          padding: 10px;
          border: 1px solid $accentColor;
          width: 60%;
          position: absolute;
          bottom: 20px;
          left: 50%;
          transform: translatex(-50%);
          color: $accentColor2;
          font-size: 125%;
          box-sizing: border-box;
        }

        .blogButton:hover {
          background-color: $accentColor;
          border: 3px solid $accentColor2;
          color: $color1;
        }

      }
    }
  }

  .third:hover {
    cursor:  pointer;
    // padding: 5px;
    // background-color: $accentColorFilter;
    // color: $accentColor2;
    border-radius: 2px;
    box-shadow: 0 20px 72px -10px rgba(0, 0, 0, 0.25)
  }
}
// .recentPosts

.blogWall {
  min-height: 600px;
  height: 100%;
  position: relative;
  padding: 0;
  border-top: 1px solid $color3;
  display: table;

  .blogMain {
    // min-height: 600px;
    background-color: $color1;
    height: 100%;
    display: block;
    // border-right: 1px solid $accentColor2;
    padding: 20px 30px 40px 30px;
    border-bottom: 1px solid $color3;


    .mainPostHeader {
      height: 300px;
      overflow: hidden;
      position: relative;
      padding: 0;

      img {
        width: 100%;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }


      }
      .mainPostContent {
        height: 100%;

        h1 {
          width: 100%;
          text-align: center;
          margin-bottom: 20px;


        }

        a {
          width: 100%;
          color: $color5;
          display: block;
          text-decoration: none;
          transition: color .1s;
          -webkit-transition: color .1s;
          -moz-transition: color .1s;

          // text-align: center;

        }
        a:hover {
          color: $accentColor;
        }


        p.author,
        p.date {
          font-size: 16px;
          text-align: center;
          color: $color5;
        }
    }
  }


  .blogSide {
    padding: 40px 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    background-color: $color6;

    .otherCategories {

      h3 {
        text-align: center;
        color: $accentColor2;
      }

      li {
        text-align: left;
        color: $color4;

        a {
          color: $color4;
        }
      }
    }


    .blogForm {
      padding: 5px;
      width: 100%;
      height: auto;
      margin-bottom: 30px;

      h3 {
        color: $accentColor2;
      }

      label {
        color: $color4;
      }

      button {
        width: 40%;
        margin-left: 30%;
        border: 2px solid $color5;
        background-color: $accentColor;
        color: $color1;
        font-size: 15px;
        outline: none;
        margin-top: 10px;
        margin-bottom: 15px;
        padding: 5px;
        display: block;
        text-align: center;
        -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
        -moz-box-sizing: border-box;    /* Firefox, other Gecko */
        box-sizing: border-box;
      }
    }
  }
}



//
