.accentColorText {
  color: #ff541e;
}

.accentColor2Text {
  color: #bc3d14;
}

html {
  background-color: #e9e9e8;
}

html * {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-shadow: none;
}

h1 {
  color: #656665;
}

header {
  box-sizing: border-box;
  height: 100px;
  background-color: #fff;
  border-bottom: 2px solid #a7a5a5;
  padding: 0;
}

.headerPlaceholder {
  height: 100px;
  width: 100%;
  display: none;
}

.headerTop {
  position: relative;
  height: 45px;
  background-color: #333;
  color: #a7a5a5;
  width: 100%;
}
.headerTop p {
  padding: 10px 0 0 30px;
}
.headerTop .socialIcons {
  text-align: right;
  font-size: 30px;
  padding: 2.5px;
  padding-right: 40px;
  height: 100%;
}
.headerTop .socialIcons a {
  color: #a7a5a5;
  margin-right: 10px;
}
.headerTop .socialIcons a:hover {
  color: #ff541e;
}

.headerBottom {
  height: 98px;
  background-color: #fff;
  width: 100%;
  padding: 0;
  z-index: 1000;
}
.headerBottom .logoBox {
  height: 98px;
}
.headerBottom .logoBox img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 80px;
}

nav.navbar {
  text-align: right;
  padding: 0;
  margin: 0;
  z-index: 1000;
}
nav.navbar ul {
  height: 100px;
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}
nav.navbar ul li {
  display: inline-block;
  margin: 0 20px 0 20px;
  height: 100px;
  padding-top: 40px;
}
nav.navbar ul li a {
  color: #333;
  letter-spacing: .5px;
  display: inline-block;
  text-decoration: none;
  height: 60px;
  padding: 5px;
  font-weight: 400;
}

.navbar ul li a:hover {
  color: #ff541e;
  border-bottom: 4px solid #ff541e;
}

#headBanner {
  height: 500px;
  padding: 0;
}
#headBanner .carousel-indicators li {
  border: 1px solid #ff541e;
}
#headBanner .carousel-indicators .active {
  background-color: #ff541e;
}
#headBanner #carousel-example-generic {
  height: 500px;
  width: 100%;
  overflow: hidden;
}
#headBanner #carousel-example-generic .carousel-inner {
  position: relative;
}
#headBanner #carousel-example-generic .carousel-inner .item {
  height: 500px;
}
#headBanner #carousel-example-generic .carousel-inner .item img {
  width: 100%;
  position: absolute;
  bottom: 0;
}
#headBanner #carousel-example-generic .carousel-inner .item .carousel-caption {
  position: relative;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
#headBanner #carousel-example-generic .carousel-inner .item .carousel-caption .captionBox h1 {
  padding: 20px;
  font-weight: 400;
  color: #ff541e;
}
#headBanner #carousel-example-generic .carousel-inner .item .carousel-caption .captionBox p {
  font-weight: 300;
  font-size: 19px;
  line-height: 1.5;
  color: #f8f9f7;
  letter-spacing: .75px;
}
#headBanner #carousel-example-generic .carousel-inner .item .carousel-caption .captionBox .buttonDiv a.accentButton {
  border: 2px solid #ff541e;
  text-decoration: none;
  border-radius: 2px;
}
#headBanner #carousel-example-generic .carousel-inner .item .carousel-caption .captionBox .buttonDiv a.accentButton:hover {
  border: 2px solid #f8f9f7;
  padding: 10px;
  text-decoration: none;
  font-weight: 300;
  color: #f8f9f7;
}
#headBanner #carousel-example-generic .carousel-inner .item .carousel-caption .left {
  position: absolute;
  top: 40%;
  left: 30%;
  width: 60%;
  transform: translate(-50%, -50%);
  padding: 20px;
}
#headBanner #carousel-example-generic .carousel-inner .item .carousel-caption .right {
  padding: 20px;
  position: absolute;
  top: 40%;
  left: 70%;
  width: 60%;
  transform: translate(-50%, -50%);
}
#headBanner #carousel-example-generic .carousel-inner .item .carousel-caption .middle {
  padding: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  width: 60%;
  transform: translate(-50%, -50%);
}

.quietHeadline {
  color: #a7a5a5;
}

.loudHeadline {
  color: #656665;
}

.sectionFullHeader {
  height: 650px;
  padding: 30px;
}

.one {
  background-color: #e9e9e8;
}
.one .quietHeadline {
  color: #a7a5a5;
}
.one .loudHeadline {
  color: #656665;
}

.cardRow {
  margin-top: 10px;
  height: 300px;
}
.cardRow .cardOuter {
  padding: 30px;
}
.cardRow .cardOuter .cardContents {
  position: relative;
  overflow: hidden;
  height: 300px;
  width: 100%;
}
.cardRow .cardOuter .cardContents .cardFront, .cardRow .cardOuter .cardContents .cardBack {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}
.cardRow .cardOuter .cardContents .cardFront .inner, .cardRow .cardOuter .cardContents .cardBack .inner {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  padding: 5px;
  text-align: center;
  color: #656665;
  line-height: 2;
}
.cardRow .cardOuter .cardContents .cardFront .inner h2, .cardRow .cardOuter .cardContents .cardBack .inner h2 {
  margin-top: 15px;
}
.cardRow .cardOuter .cardContents .cardFront .inner h2 i, .cardRow .cardOuter .cardContents .cardBack .inner h2 i {
  font-size: 200%;
  color: #ff541e;
}
.cardRow .cardOuter .cardContents .cardFront .inner p, .cardRow .cardOuter .cardContents .cardBack .inner p {
  margin-top: 15px;
}
.cardRow .cardOuter .cardContents .cardFront {
  background-color: #fff;
}
.cardRow .cardOuter .cardContents .cardBack {
  background-color: #ff541e;
  border: 5px solid #bc3d14;
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}
.cardRow .cardOuter .cardContents .cardBack * {
  color: #fff;
}
.cardRow .cardOuter .cardContents .cardBack .inner {
  padding-top: 5px;
}
.cardRow .cardOuter .cardContents .cardBack .inner h2 {
  margin-top: 20px;
}
.cardRow .cardOuter .cardContents .cardBack a {
  margin-top: 20px;
  width: 50%;
  margin-left: 25%;
  height: auto;
  background-color: transparent;
  border: 2px solid #fff;
  padding: 0;
  display: block;
}

div.card.effectHover {
  padding: 5px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card.effectHover:hover .cardFront {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

.card.effectHover:hover .cardBack {
  -webkit-transform: rotateY(0);
  transform: rotateY(0);
}

.buttonDiv {
  margin-top: 35px;
}
.buttonDiv a.accentButton {
  width: 100%;
  border: 2px solid #656665;
  background-color: #ff541e;
  color: #fff;
  font-size: 20px;
  outline: none;
  padding: 10px;
  display: block;
  text-align: center;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
}
.buttonDiv a.accentButton:hover,
.buttonDiv a.accentButton:active {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  color: #fff;
  outline: none;
  text-decoration: underline;
  border: 4px solid #bc3d14;
  padding: 8px;
}

.two {
  height: 500px;
  padding: 0;
}
.two .left40 {
  height: 100%;
  background-image: url("https://images.unsplash.com/photo-1507034589631-9433cc6bc453?auto=format&fit=crop&w=631&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D");
  background-size: cover;
  background-position: center;
}
.two .right60 {
  position: relative;
  height: 100%;
  background-color: #f8f9f7;
}
.two .right60 .jumboHeader {
  height: 25%;
  width: 100%;
  padding: 10px;
}
.two .right60 .jumboHeader h3 {
  margin-top: 20px;
  text-align: center;
}
.two .right60 .jumboHeader h1 {
  margin-top: 20px;
  text-align: center;
  color: #656665;
}
.two .right60 .jumboBox {
  height: 75%;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}
.two .right60 .jumboBox #first {
  border-right: 2px solid #ff541e;
}
.two .right60 .jumboBox .posterParent {
  height: 100%;
}
.two .right60 .jumboBox .posterParent .poster {
  height: 100%;
  padding: 10px;
  text-align: center;
  color: #656665;
}

#first {
  border-right: 2px solid #ff541e;
}

.three {
  padding: 0;
  height: 600px;
}
.three .left60 {
  padding-top: 30px;
  position: relative;
  text-align: center;
  height: 100%;
  background-color: #e9e9e8;
}
.three .left60 .headline {
  width: 100%;
  height: 20%;
}
.three .left60 .headline h3 {
  margin-top: 10px;
}
.three .left60 .accordion {
  overflow-y: auto;
  width: 100%;
  padding-top: 20px;
}
.three .left60 .accordion .panel {
  background-color: transparent;
  border: none;
  box-shadow: none;
}
.three .left60 .accordion .panel .panel-heading {
  background-color: #fff;
  color: #656665;
  padding: 0;
}
.three .left60 .accordion .panel .panel-heading .panel-title a {
  font-size: 18px;
  display: block;
  padding: 15px;
  width: 100%;
  text-decoration: none;
}
.three .left60 .accordion .panel div.panel-body {
  background: transparent;
}
.three .left60 .tightTop {
  margin-top: 5px;
}
.three .right40 {
  height: 100%;
  background-image: url("https://images.unsplash.com/photo-1436076863939-06870fe779c2?auto=format&fit=crop&w=1050&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#textBanner {
  background-color: #333;
}

.bannerContainer {
  opacity: 0;
  padding: 100px;
  position: relative;
  height: 400px;
  background-color: transparent;
}

.banHead1 h1 {
  margin: 0;
  text-align: left;
  height: 125px;
  color: #a7a5a5;
}

.banHead2 h1 {
  margin: 0;
  text-align: right;
  height: 125px;
  padding: 30px;
  color: #a7a5a5;
}

.four {
  padding: 50px;
  height: auto;
  background-color: #e9e9e8;
}
.four .headRow {
  padding: 20px;
  padding-top: 0;
  width: 100%;
  text-align: center;
}
.four .headRow h3 {
  margin-top: 0;
}
.four .fourBody {
  height: 600px;
}
.four .fourBody .third {
  height: 500px;
  padding: 15px;
  color: #656665;
  background-color: transparent;
  transition: padding .3s;
  -webkit-transition: padding .3s;
  -moz-transition: padding .3s;
}
.four .fourBody .third #thirdInner {
  height: 100%;
  background-color: #fff;
  overflow: hidden;
  text-align: center;
  position: inline-block;
}
.four .fourBody .third #thirdInner div.imgLeft {
  height: 45%;
  min-width: 100%;
  position: relative;
  overflow: hidden;
}
.four .fourBody .third #thirdInner div.imgLeft img {
  min-height: 100%;
  max-width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.four .fourBody .third #thirdInner .snipContent {
  height: 55%;
  padding: 10px;
}
.four .fourBody .third #thirdInner .snipContent p.quiet {
  color: #a7a5a5;
}
.four .fourBody .third #thirdInner .snipContent .date {
  margin-left: 20px;
}
.four .fourBody .third #thirdInner .snipContent h3 {
  color: #656665;
  margin-top: 10px;
  margin-bottom: 20px;
}
.four .fourBody .third #thirdInner .snipContent p.reg {
  padding-bottom: 20px;
}
.four .fourBody .third #thirdInner .snipContent .lightLine {
  height: 0;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  border: 1px solid #e9e9e8;
}
.four .fourBody .third #thirdInner .snipContent .blogButton {
  display: block;
  padding: 10px;
  border: 1px solid #ff541e;
  width: 60%;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translatex(-50%);
  color: #bc3d14;
  font-size: 125%;
  box-sizing: border-box;
}
.four .fourBody .third #thirdInner .snipContent .blogButton:hover {
  background-color: #ff541e;
  border: 3px solid #bc3d14;
  color: #fff;
}
.four .fourBody .third:hover {
  cursor: pointer;
  padding: 5px;
  border-radius: 2px;
}

.blogSnipTitle {
  color: #656665;
  width: 100%;
  display: block;
  padding: 0;
  transition: color .2s;
}

.blogSnipTitle:hover {
  text-decoration: none;
  color: #ff541e;
}

.bannerBox {
  height: 420px;
  text-align: center;
  padding: 50px;
}
.bannerBox h1 {
  color: #656665;
}

#testimonialSlideShow {
  margin-top: 50px;
}
#testimonialSlideShow p {
  font-size: 15px;
  color: #656665;
}
#testimonialSlideShow i {
  font-size: 18px;
  color: #656665;
}
#testimonialSlideShow i.fa-quote-left {
  margin-right: 20px;
}
#testimonialSlideShow i.fa-quote-right {
  margin-left: 20px;
}

#testimonialSlideShow > div {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  width: 100%;
}

.five {
  padding: 0;
  height: 650px;
}
.five .left50 {
  height: 100%;
  background-image: url("https://images.unsplash.com/photo-1494783367193-149034c05e8f?auto=format&fit=crop&w=1050&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.five .right50 {
  padding: 30px;
}
.five .right50 h3,
.five .right50 h1 {
  text-align: center;
}
.five .right50 form {
  padding: 30px;
}
.five .right50 form textarea {
  resize: none;
}
.five .right50 form button.accentButton {
  width: 40%;
  margin-left: 60%;
  border: 2px solid #656665;
  background-color: #ff541e;
  color: #fff;
  font-size: 20px;
  outline: none;
  margin-top: 30px;
  padding: 5px;
  display: block;
  text-align: center;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  border-radius: 0;
}
.five .right50 form button.accentButton:hover,
.five .right50 form button.accentButton:active {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  color: #fff;
  outline: none;
  text-decoration: underline;
  border: 4px solid #bc3d14;
  padding: 3px;
  border-radius: 0;
}

footer {
  position: relative;
  padding-top: 15px;
  height: 400px;
  background-color: #333;
}
footer .footerTop {
  width: 100%;
  height: 70px;
  color: #e9e9e8;
  background-color: rgba(255, 255, 255, 0.06);
}
footer .footerTop .info {
  padding: 10px 5px 5px 30px;
  height: 100%;
}
footer .footerTop .info p {
  color: #a7a5a5;
}
footer .footerTop .footerSocial {
  text-align: right;
  height: 100%;
  padding: 15px;
  background-color: transparent;
}
footer .footerTop .footerSocial a {
  height: 100%;
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 30px;
  color: #a7a5a5;
}
footer .footerTop .footerSocial a:hover {
  color: #ff541e;
}
footer .footerContact {
  height: 315px;
  text-align: left;
  padding: 20px;
  background-color: transparent;
}
footer .footerContact form {
  display: inline;
}
footer .footerContact .tight {
  margin-top: 10px;
  width: 100%;
  padding: 0;
}
footer .footerContact .tight label {
  color: #e9e9e8;
  letter-spacing: 1px;
  font-size: 85%;
}
footer .footerContact h4 {
  color: #bc3d14;
  margin-bottom: 0;
}
footer .footerContact button {
  padding: 5px 10px 5px 10px;
}
footer #newsletter {
  width: 70%;
}
footer .footerNav {
  height: 315px;
  padding-top: 20px;
}
footer .footerNav nav h4 {
  padding: 0 0 5px 20px;
  color: #e9e9e8;
}
footer .footerNav nav ul {
  padding: 20px;
  padding-top: 0;
}
footer .footerNav nav ul li {
  text-align: left;
  line-height: 1.8;
  color: #a7a5a5;
  list-style-type: none;
}
footer .footerNav nav ul li:hover {
  color: #bc3d14;
  cursor: pointer;
}
footer .footerMission {
  height: 315px;
  width: 100%;
  padding: 10px;
}
footer .footerMission h3 {
  text-align: left;
  color: #bc3d14;
}
footer .footerMission p {
  color: #a7a5a5;
}
footer .legal {
  color: #a7a5a5;
  position: absolute;
  bottom: 10px;
  right: 30px;
}

.funPhotoBanner {
  width: 100%;
  height: 300px;
  position: relative;
  overflow: hidden;
}
.funPhotoBanner img {
  width: 100%;
  height: auto;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.funPhotoBanner h1 {
  font-size: 60px;
  color: #e9e9e8;
  margin-top: 50px;
  text-align: center;
  font-weight: 300;
}
.funPhotoBanner .titleBtn {
  text-align: center;
  padding: 5px;
}
.funPhotoBanner .titleBtn a {
  padding: 3px;
  width: 80%;
  margin-left: 10%;
  border: 4px solid #ff541e;
}
.funPhotoBanner .titleBtn a:hover {
  padding: 3px;
  border: 4px solid #bc3d14;
  text-decoration: none;
  font-weight: 300;
}

.mission {
  min-height: 350px;
  width: 100%;
  padding: 30px;
  background-color: #fff;
  text-align: center;
}
.mission h1 {
  color: #656665;
}
.mission .missionStatement {
  padding: 30px;
}

.team {
  min-height: 500px;
  width: 100%;
  padding: 30px 0 30px 0;
  text-align: center;
  background-color: #f8f9f7;
}
.team .headline {
  padding-bottom: 30px;
}
.team .teamHeader {
  width: 100%;
}
.team .teamContainerLeft,
.team .teamContainerRight {
  position: relative;
  border-top: 1px solid #e9e9e8;
  padding: 20px 50px 20px 50px;
  height: 400px;
  min-height: 350px;
  width: 100%;
}
.team .teamContainerLeft .imgBox,
.team .teamContainerRight .imgBox {
  padding: 20px;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.team .teamContainerLeft .imgBox img,
.team .teamContainerRight .imgBox img {
  height: auto;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.team .teamContainerLeft .content,
.team .teamContainerRight .content {
  height: 100%;
  padding: 60px 40px 20px 40px;
  color: #656665;
  position: relative;
}
.team .teamContainerLeft .content h3,
.team .teamContainerRight .content h3 {
  color: #656665;
  margin-top: 0;
}
.team .teamContainerLeft .content h4,
.team .teamContainerRight .content h4 {
  color: #ff541e;
}

.gallery {
  width: 100%;
  padding: 20px;
  background-color: #fff;
  text-align: center;
}
.gallery h1 {
  color: #656665;
}

#galleryWall {
  padding: 5%;
  padding-top: 2%;
  margin-bottom: 100px;
  text-align: center;
  overflow: hidden;
  /* Prevent vertical gaps */
}
#galleryWall .brick {
  margin-top: 5px;
  height: 250px;
  overflow: hidden;
  position: relative;
}
#galleryWall .brick .brickBox {
  width: 100%;
  height: 240px;
  overflow: hidden;
  position: relative;
}
#galleryWall .brick .brickBox img {
  width: 100%;
  min-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*# sourceMappingURL=style.css.map */
